<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>CashOfferNow</title>

    <!-- Bootstrap -->
	<link href="https://fonts.googleapis.com/css?family=Muli:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
	<link href="css/bootstrap.min.css" rel="stylesheet">
	<link href="css/style.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
  
  <!--header section start-->
		<div class="header">
			<div class="main-logo">
				<div class="logo">
					<a href="#"><img src="images/logo.png"></a>
				</div>
			</div>
			
			<div class="right-header">
				
				<div class="header-right-pic">
					<div class="pro-pic">
						<img src="images/team-pic.png" height="45px;">
					</div>
					<div class="pro-name">
						<span class="big-name">Merlin Car Auction</span>
						
					</div>
				</div>
				
				<div class="notification-header">
					<a href="#"><span class="fa fa-bell"></span></a>
				</div>
				<div class="notification-header" style="
    margin: 0px;
">
					<a href="#" style="margin:0px;">You Have 6 Credits</a>
				</div>
				<div class="notification-header low-credit" style="
    margin: 0px;
">
					<a href="#" style="margin:0px;">You Only Have 2 Credits Left <button>Add Credits Now</button></a>
				</div>
				
			</div>
		</div>
	<!--header section end-->
	
	<!--main section start-->
	<div class="main-section">
		<div class="container-fluid">
			<div class="row">
				<!--main menu start-->
					<div class="col-sm-2 main-menu">
						<div class="left-navigation">
							<ul>
								<li><a href="#"><i class="fa fa-home" aria-hidden="true"></i> How It Works</a></li>
								<li><a href="#"><i class="fa fa-group" aria-hidden="true"></i> Add Car (24)</a></li>
								<li><a href="#"><i class="fa fa-random" aria-hidden="true"></i> Cars To Be Priced (16)</a></li>
								<li><a href="#"><i class="fa fa-tag" aria-hidden="true"></i> Cars Under Offer (4)</a></li>
								<li><a href="#"><i class="fa fa-adn" aria-hidden="true"></i> Offer Accepted (9)</a></li>
								<li class="active"><a href="#"><i class="fa fa-minus-circle" aria-hidden="true"></i> Archive (10)</a></li>
								<li><a href="#"><i class="fa fa-check-square" aria-hidden="true"></i> Add Credits</a></li>
								<li><a href="#"><i class="fa fa-newspaper-o" aria-hidden="true"></i> Users</a></li>
							</ul>
							<p class="graps-head"><span>Personal Info</span></p>
							<ul style="border-bottom:none;">
								<li class=""><a href="#"><i class="fa fa-user" aria-hidden="true"></i> Account History</a></li>
								<li><a href="#"><i class="fa fa-car" aria-hidden="true"></i> Car Payments</a></li>
								<li><a href="#"><i class="fa fa-envelope" aria-hidden="true"></i> Contact Us</a></li>
								
							</ul>
						</div>
					</div>
					
					<div class="col-sm-10 main-left-content">
						<div class="shadow-up">
							
							<div class="table-chart-head">
								
								<div class="item-head">
									Price Time
								</div>
								<div class="item-head">
									Photo
								</div>
								<div class="item-head">
									Year
								</div>
								<div class="item-head">
									Make
								</div>
								<div class="item-head">
									Variant
								</div>
								<div class="item-head">
									Engine
								</div>
								<div class="item-head">
									Fuel
								</div>
								<div class="item-head">
									Mileage(Km)
								</div>
								<div class="item-head">
									Offer
								</div>
								<div class="item-head">
									Action
								</div>
							</div>
							
							

<div id="accordion" role="tablist" aria-multiselectable="true">
  
  
  
  
  <div class="card">
    <div class="card-header" role="tab" id="headingThree">
      <h5 class="mb-0">
        <a class="collapsed car-feature-listing" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                    		<table width="100%" border="0">
					<tr>
					<td>
                    <div class="item-head">
									<div class="timer">
										<span class="clock-icon"><img src="images/timer.png"></span>
										<span>00:17.0</span>
										
									</div>
								</div>
					</td>
					<td>
								<div class="item-head">
									<div class="pic-cars">
										<img src="images/car.jpg">
									</div>
								</div>
					</td>
					<td>
								<div class="item-head">
									<div class="item-year">
										2016 (1)
									</div>
								</div>
					</td>
					<td>
								<div class="item-head">
									<div class="car-name-item">
										Mercedes-Benz
									</div>
								</div>
					</td>
					<td>
								<div class="item-head">
									<div class="variant">
										Avensis Strata 1.6
									</div>
								</div>
					</td>
					<td>
								<div class="item-head">
									<div class="engine-item">
										3.0L
									</div>
								</div>
					</td>
					<td>
								<div class="item-head">
									<div class="diesel">
									Diesel
									</div>
								</div>
					</td>
					<td>
								<div class="item-head">
									<div class="mile">
										28,000
									</div>
								</div>
					</td>
					<td>
								<div class="item-head">
									<div class="offer-price on-offer">
										
										<span class="price">
           									€ 2,500 <i class="glyphicon glyphicon-ok"></i>
										</span>
										<div class="offer-list">
										Expired
										</div>
										
									</div>
								</div>
					</td>
					<td>
								<div class="item-head">
									<div class="offer-price on-offer">
										
										<span class="accept-offer-btn update-offer-btn">
											<a href="#">Update Offer</a>
										</span>
										
									</div>
								</div>
					</td>
					</tr>
					</table>
        </a>
      </h5>
    </div>
    <div id="collapseFour" class="collapse" role="tabpanel" aria-labelledby="headingFour">
      <div class="well">
                    <div class="row">
                        
                        <div ng-class="(selected_tab == 'accepted' || selected_tab == 'picked_up' || selected_tab == 'sold') ? 'col-xs-4':'col-xs-4'" class="col-xs-8">
                          <!-- ngIf: (selected_tab == 'accepted' || selected_tab == 'picked_up' || selected_tab == 'sold') -->
                            <div class="data-title cars-to-buy-description parent__toggle_desc">
                                <div>Title Goes Here Of Car</div><span class="description-text">Lorem ipsum dolor sit amet is the dummy text for describing the web content</span>
<div>Stats</div>
<span class="description-text">Lorem ipsum dolor sit amet is the dummy text for describing the web content</span>
                                <div>Description</div>
<span class="description-text">Lorem ipsum dolor sit amet is the dummy text for describing the web content</span>
                                <p class="description-text toggle__desc ng-binding collapse" id="desc_0" aria-expanded="false" style="height: 0px;">2016 Mercedes-Benz GLE-Class GLE 350 BLUETEC 4Matic</p>
                                <div>
                                    <button class="btn__toggle__desc collapsed" type="button" data-toggle="collapse" data-target="#desc_0" aria-expanded="false" aria-controls="desc_0">Show More</button>
                                    <span class="share-whatsapp"><a href="#">Share WhatsApp</a></span>
                                </div>
								<div style="margin-top:15px;">
                                    <div>Car extras:</div>
                                    <span class="description-text">CD System, Multifunction Steering Wheel, Alloy Wheels, Parking Sensors, Stability Control System, Traction Control</span>
                                </div>
                                <!-- ngIf: item.car_features -->                                 
                                <!-- ngIf: item.other_options -->                                 
                            </div>
                            <!-- ngIf: (selected_tab == 'accepted' || selected_tab == 'picked_up' || selected_tab == 'sold') -->
                        
<div class="data-title">
                                Extra Specs
                            </div><ul class="list-unstyle column_extra_spec">
                                        <li><span>Body Type: </span><b class="ng-binding">4x4</b></li>
                                        <li><span>Colour: </span><b class="ng-binding">Black</b></li>
                                        <li><span>Doors: </span><b class="ng-binding">4</b></li>
                                        <li><span>Gearbox: </span><b class="ng-binding">Automatic</b></li>
                                    </ul>
</div>

<div class="col-xs-4">
                            
                            <div class="row">
                              <div class="col-xs-12">
                                <div class="row">
                                  
                                  <div class="col-xs-12">
                                    <ul class="list-unstyle column_extra_spec">
                                        <li><span>Reg: </span><b class="ng-binding">161D9999</b></li>
                                        <li><span>TAX: </span><b class="ng-binding">-</b></li>
                                        <li><span>NCT: </span><b class="ng-binding">-</b></li>
                                        <li>
                                            <span>Owners: </span>
                                            <!-- ngIf: item.owners > 0 --><b ng-if="item.owners > 0" class="ng-binding ng-scope">1</b><!-- end ngIf: item.owners > 0 -->
                                            <!-- ngIf: item.owners <= 0 -->
                                        </li>
                                    </ul>
                                  </div>
                                </div>

                              </div>
                            </div>
                                <hr>
                            <div class="row">
                              <div class="col-xs-12">
                                <div class="data-title">
                                    Car info
                                </div>
                                <div class="row">
                                  <div class="col-xs-12">
                                    <ul class="list-unstyle column_extra_spec" style="margin-bottom:15px;">
                                        <li><span class="ng-binding">Has you car ever been the subject of an insurance write off? </span>
                                            <!-- ngIf: item.car_options['has_insurance_write_off'].option_set --><b ng-if="item.car_options['has_insurance_write_off'].option_set" class="ng-binding ng-scope">No</b><!-- end ngIf: item.car_options['has_insurance_write_off'].option_set -->
                                            <!-- ngIf: !item.car_options['has_insurance_write_off'].option_set -->
                                        </li>

                                        <li><span class="ng-binding">Do you have a Service History? </span>
                                            <!-- ngIf: item.car_options['has_service_history'].option_set --><b ng-if="item.car_options['has_service_history'].option_set" class="ng-binding ng-scope">No</b><!-- end ngIf: item.car_options['has_service_history'].option_set -->
                                            <!-- ngIf: !item.car_options['has_service_history'].option_set -->
                                        </li>

                                        

                                        

                                        

                                        

                                        
                                    </ul>
                                  </div>
                                </div>
                              </div>
                              <div class="col-xs-6">
                                                               
                                  
                            </div>
                            </div>




                        </div>
                    </div>
                </div>
    </div>
  </div>
  
  <div class="card">
    <div class="card-header" role="tab" id="headingThree">
      <h5 class="mb-0">
        <a class="collapsed car-feature-listing" data-toggle="collapse" data-parent="#accordion" href="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                    		<table width="100%" border="0">
					<tr>
					<td>
                    <div class="item-head">
									<div class="timer">
										<span class="clock-icon"><img src="images/timer.png"></span>
										<span>00:17.0</span>
										
									</div>
								</div>
					</td>
					<td>
								<div class="item-head">
									<div class="pic-cars">
										<img src="images/car.jpg">
									</div>
								</div>
					</td>
					<td>
								<div class="item-head">
									<div class="item-year">
										2016 (1)
									</div>
								</div>
					</td>
					<td>
								<div class="item-head">
									<div class="car-name-item">
										Mercedes-Benz
									</div>
								</div>
					</td>
					<td>
								<div class="item-head">
									<div class="variant">
										Avensis Strata 1.6
									</div>
								</div>
					</td>
					<td>
								<div class="item-head">
									<div class="engine-item">
										3.0L
									</div>
								</div>
					</td>
					<td>
								<div class="item-head">
									<div class="diesel">
									Diesel
									</div>
								</div>
					</td>
					<td>
								<div class="item-head">
									<div class="mile">
										28,000
									</div>
								</div>
					</td>
					<td>
								<div class="item-head">
									<div class="offer-price on-offer">
										
										<span class="price">
           									€ 2,500 <i class="glyphicon glyphicon-ok"></i>
										</span>
										<div class="offer-list">
										Expired
										</div>
										
									</div>
								</div>
					</td>
					<td>
								<div class="item-head">
									<div class="offer-price on-offer">
										
										<span class="accept-offer-btn update-offer-btn">
											<a href="#">Update Offer</a>
										</span>
										
									</div>
								</div>
					</td>
					</tr>
					</table>
        </a>
      </h5>
    </div>
    <div id="collapseFive" class="collapse" role="tabpanel" aria-labelledby="headingFour">
      <div class="well">
                    <div class="row">
                        
                        <div ng-class="(selected_tab == 'accepted' || selected_tab == 'picked_up' || selected_tab == 'sold') ? 'col-xs-4':'col-xs-4'" class="col-xs-8">
                          <!-- ngIf: (selected_tab == 'accepted' || selected_tab == 'picked_up' || selected_tab == 'sold') -->
                            <div class="data-title cars-to-buy-description parent__toggle_desc">
                                <div>Title Goes Here Of Car</div><span class="description-text">Lorem ipsum dolor sit amet is the dummy text for describing the web content</span>
<div>Stats</div>
<span class="description-text">Lorem ipsum dolor sit amet is the dummy text for describing the web content</span>
                                <div>Description</div>
<span class="description-text">Lorem ipsum dolor sit amet is the dummy text for describing the web content</span>
                                <p class="description-text toggle__desc ng-binding collapse" id="desc_0" aria-expanded="false" style="height: 0px;">2016 Mercedes-Benz GLE-Class GLE 350 BLUETEC 4Matic</p>
                                <div>
                                    <button class="btn__toggle__desc collapsed" type="button" data-toggle="collapse" data-target="#desc_0" aria-expanded="false" aria-controls="desc_0">Show More</button>
                                    <span class="share-whatsapp"><a href="#">Share WhatsApp</a></span>
                                </div>
								<div style="margin-top:15px;">
                                    <div>Car extras:</div>
                                    <span class="description-text">CD System, Multifunction Steering Wheel, Alloy Wheels, Parking Sensors, Stability Control System, Traction Control</span>
                                </div>
                                <!-- ngIf: item.car_features -->                                 
                                <!-- ngIf: item.other_options -->                                 
                            </div>
                            <!-- ngIf: (selected_tab == 'accepted' || selected_tab == 'picked_up' || selected_tab == 'sold') -->
                        
<div class="data-title">
                                Extra Specs
                            </div><ul class="list-unstyle column_extra_spec">
                                        <li><span>Body Type: </span><b class="ng-binding">4x4</b></li>
                                        <li><span>Colour: </span><b class="ng-binding">Black</b></li>
                                        <li><span>Doors: </span><b class="ng-binding">4</b></li>
                                        <li><span>Gearbox: </span><b class="ng-binding">Automatic</b></li>
                                    </ul>
</div>

<div class="col-xs-4">
                            
                            <div class="row">
                              <div class="col-xs-12">
                                <div class="row">
                                  
                                  <div class="col-xs-12">
                                    <ul class="list-unstyle column_extra_spec">
                                        <li><span>Reg: </span><b class="ng-binding">161D9999</b></li>
                                        <li><span>TAX: </span><b class="ng-binding">-</b></li>
                                        <li><span>NCT: </span><b class="ng-binding">-</b></li>
                                        <li>
                                            <span>Owners: </span>
                                            <!-- ngIf: item.owners > 0 --><b ng-if="item.owners > 0" class="ng-binding ng-scope">1</b><!-- end ngIf: item.owners > 0 -->
                                            <!-- ngIf: item.owners <= 0 -->
                                        </li>
                                    </ul>
                                  </div>
                                </div>

                              </div>
                            </div>
                                <hr>
                            <div class="row">
                              <div class="col-xs-12">
                                <div class="data-title">
                                    Car info
                                </div>
                                <div class="row">
                                  <div class="col-xs-12">
                                    <ul class="list-unstyle column_extra_spec" style="margin-bottom:15px;">
                                        <li><span class="ng-binding">Has you car ever been the subject of an insurance write off? </span>
                                            <!-- ngIf: item.car_options['has_insurance_write_off'].option_set --><b ng-if="item.car_options['has_insurance_write_off'].option_set" class="ng-binding ng-scope">No</b><!-- end ngIf: item.car_options['has_insurance_write_off'].option_set -->
                                            <!-- ngIf: !item.car_options['has_insurance_write_off'].option_set -->
                                        </li>

                                        <li><span class="ng-binding">Do you have a Service History? </span>
                                            <!-- ngIf: item.car_options['has_service_history'].option_set --><b ng-if="item.car_options['has_service_history'].option_set" class="ng-binding ng-scope">No</b><!-- end ngIf: item.car_options['has_service_history'].option_set -->
                                            <!-- ngIf: !item.car_options['has_service_history'].option_set -->
                                        </li>

                                        

                                        

                                        

                                        

                                        
                                    </ul>
                                  </div>
                                </div>
                              </div>
                              <div class="col-xs-6">
                                                               
                                  
                            </div>
                            </div>




                        </div>
                    </div>
                </div>
    </div>
  </div>
  
</div>
							
						</div>
						
					</div>
					
					</div>
					</div>
					</div>
					</body>
					
					<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	<script src="https://use.fontawesome.com/a832a5b49f.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.min.js"></script>
	
	</html>
	
